# WIP: Working on securing the dashboard properly...
#api:
#  dashboard: true

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"
    http:
      tls:
        certresolver: "letsencrypt"
  minecraft-java:
    address: ":25565"
  minecraft-bedrock:
    address: ":19132"
  hl2dm-0:
    address: ":27000"
  hl2dm-1:
    address: ":27001"
  hl2dm-2:
    address: ":27002"
  hl2dm-3:
    address: ":27003"
  hl2dm-4:
    address: ":27004"
  hl2dm-5:
    address: ":27005"
  hl2dm-6:
    address: ":27006"
  hl2dm-7:
    address: ":27007"
  hl2dm-8:
    address: ":27008"
  hl2dm-9:
    address: ":27009"
  hl2dm-10:
    address: ":27010"
  hl2dm-11:
    address: ":27011"
  hl2dm-12:
    address: ":27012"
  hl2dm-13:
    address: ":27013"
  hl2dm-14:
    address: ":27014"
  hl2dm-15:
    address: ":27015"

certificatesResolvers:
  letsencrypt:
    acme:
      storage: acme.json
      email: "{{ reverseproxy.ca_email }}"
      tlsChallenge:
        entryPoint: https

providers:
  file:
    directory: /etc/traefik/services
    watch: true
