version: "3.11"
services:
  minecraft:
    build: ./minecraft-dockerfile
    volumes:
      - /opt/run/games/minecraft:/opt/run
    ports:
      - 25565:25565
      - 19132:19132
      # - 19133:19133
      - 7867:7867
