version: "3.11"
services:
  db:
    image: mariadb:11.1.2
    volumes:
      - /opt/run/mysql:/var/lib/mysql
    environment:
      - MARIADB_USER=gitea
      - MARIADB_PASSWORD={{ git.gitea_db_user_password }}
      - MARIADB_DATABASE=gitea
      - MARIADB_ROOT_PASSWORD={{ git.root_db_user_password }}
  gitea:
    depends_on:
      - db
    image: gitea/gitea:1.20.5
    volumes:
      - /opt/run/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__HOST=db
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD={{ git.gitea_db_user_password }}
    ports:
      - "80:3000"
      #- "222:22"
