http:
  routers:
    git:
      rule: "Host(`git.{{ reverseproxy.domain }}`)`)"
      entryPoints:
        - "https"
        - "http"
      service: git
  services:
    git:
      loadBalancer:
        servers:
          {% for host in hostvars[groups['git']] %}
          - address: "http://{{ host['ansible_default_ipv4']['address'] }}:80"
          {% endfor %}
  middlewares:
    https-redirect:
      redirectscheme:
        scheme: https
